{% extends  'core/base.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/home_page.css">
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
    <div class="button-login">
        <a class="btn btn-outline-primary" methods="post" href="/logout">
            <img src="/static/icons/smile.svg">
            <div class="button-login-text">ВЫЙТИ</div>
        </a>
    </div>
    {% else %}
    <div class="button-login">
        <a class="btn btn-outline-primary" methods="post" href="/login">
            <img src="/static/icons/smile.svg">
            <div class="button-login-text">ВОЙТИ</div>
        </a>
    </div>
    {% endif %}
{% endblock %}
{% block main %}
    {% if user.is_authenticated %}
        <div class="lk-header">
            <a href="/">ЛИЧНЫЙ КАБИНЕТ</a>
            <a href="">МОИ ЗАЯВКИ</a>
            {% if user.is_superuser %}
            <a href="/create_conference">КОНФЕРЕНЦИИ</a>
            {% endif %}
        </div>
        {% if userprofile %}
            <table>
                <tr>
                    <td>{{ userprofile.name }} </td>
                </tr>
                <tr>
                    <td>{{ userprofile.surname }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.patronymic }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.office }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.email }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.degree }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.organization }}</td>
                </tr>
                <tr>
                    <td>{{ userprofile.address }}</td>
                <tr>
                    <td>{{ userprofile.phone }}</td>
                </tr>
            </table>
        {% else %}
        {% endif %}
    {% else %}
        <div class="banner">
            <p>ВСЕ НА КОНФЕРЕНЦИИ!</p>
        </div>
        <div class="button-application">
            <button class="btn btn-primary" methods="post" href="/create_image">
                ПОДАТЬ ЗАЯВКУ
            </button>
        </div>
    {% endif %}

{% endblock %}