{% extends  'core/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Вход</title>
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Вход</h4>
            <form method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">
                    Войти
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
    <div class="button-login">
        <a class="btn btn-outline-primary" methods="post" href="/logout">
            <img src="/static/icons/smile.svg">
            <div class="button-login-text">ВЫЙТИ</div>
        </a>
    </div>
    {% else %}
    <div class="button-login">
        <a class="btn btn-outline-primary" methods="post" href="/login">
            <img src="/static/icons/smile.svg">
            <div class="button-login-text">ВОЙТИ</div>
        </a>
    </div>
    {% endif %}
{% endblock %}