.banner {
    display: flex;
    background-image: url("/static/icons/banner.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
}

.banner p {
    color: white;
    text-align: center;
    font-size: 90px;
    padding: 200px;
    margin-left: 170px;
}

.button-application {
    text-align: center;
}

.lk-header {
    margin-left: 85px;
    font-size: 24px;
    padding: 10px;
}

table {
    margin-right: 500px;
}